[user]
	email = kanzenziai_r@yahoo.co.jp
	name = Kiyo510
[core]
	editor = code --wait
	excludesfile = /Users/kiyo/.gitignore_global
[merge]
	tool = code --wait \"$MERGED\"
[alias]
	o = checkout
	r = remote
